/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before, { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   HTML Elements
   --------------------------------------------------------------------------------------- */

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 100%;
	background: #fff;
}
html { overflow-y: scroll; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
#main {
	width: 90%;
	height: 90%;
	margin: 5%;
}

/* ---------------------------------------------------------------------------------------
   Header
   --------------------------------------------------------------------------------------- */

header {
	
}
header time {
	float: left;
}
header h1 {
	float: right;
}

/* ---------------------------------------------------------------------------------------
   Schedule
   --------------------------------------------------------------------------------------- */

#schedule {
	padding: 2.5% 0;
	margin: 2.5% 0;
	border-top: 4px solid rgba(0,0,0,.5);
	border-bottom: 4px solid rgba(0,0,0,.5);
}

#schedule ol {
	list-style-type: none;
}
#schedule li {
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding-bottom: 1.1%;
	margin-bottom: 1.1%;
}
#schedule li:last-child {
	border: none;
	margin-bottom: 0;
	padding-bottom: 0
}

#schedule li .start-time {
	display: block;
	float: left;
	width: 15%;
}
#schedule li.current-class .start-time {
	margin-top: 2.2%;
}

#schedule li .block {
	display: block;
	text-align: center;
	margin-left: 15%;
	width: 70%;
}
#schedule li.current-class .block {
	color: green;
}

/* ---------------------------------------------------------------------------------------
   Weather
   --------------------------------------------------------------------------------------- */
   
footer {
	width: 20%;
	margin: 0 auto;
	background-color: blue;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */
   
.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}
::-moz-selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}
::selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}